<h1>Hello World</h1>
<p>Find me in app/views/demo/index.html.erb</p>

<% @array.each do |i|%>
      <%= i%>
      </br>
  <%end %>


<%= link_to("Click here to go about part", {:action => 'about'})%>



<%= link_to('All subjects', subjects_path)%>